.idea
*.pyc
.DS_STORE
*.nii
*.txt
*.csv
!requirements.txt
*.sh
!test.sh
user_paths.py

# Nosetests XUnit reports
nosetests.xml

# Coverage plugin for Nosetests
coverage.xml
.coverage
cover

# Linting files from pep8
pep8.log