# Jetbrains products
.idea

# Pyc
*.pyc

# MAC DS_STORE
.DS_STORE

# Configuration files except example and test
config/**
!config/exampleConfig.yaml
!config*_category.yaml
!*_surface.yaml

# Nosetests XUnit reports
nosetests.xml

# Coverage plugin for Nosetests
coverage.xml
.coverage
cover

# Linting files from pep8
pep8.log

# Distutils
build
MANIFEST

# Pyinstaller
*.spec
tests/__pycache__/

# Cache
.cache/

# Debug files
debug/

# Distribution files
dist/

#Test results
tests/mock_data/results/