# Jetbrains products
.idea

# Pyc
*.pyc

# MAC DS_STORE
.DS_STORE

# Nosetests XUnit reports
nosetests.xml

# Coverage plugin for Nosetests
coverage.xml
.coverage
cover

# Linting files from pep8
pep8.log
